.root-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.root-loading-wrapper {
  position: relative;
  width: 100%;
  margin-top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  text-align: center;
  color: #7C7E81;

}
.root-loading-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.root-loading-describe {
  margin-top: 20px;
}
